.dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  height: 200px;
  overflow: scroll;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 2px;
}

.dropdownItem {
  height: 40px;

  &:not(:last-child) {
    border-bottom: 1px solid #999;
  }
}

.dropdownItem:hover button {
  background-color: #eee;
}

.dropdownItem button {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 100%;
}
