.wrapper {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.content {
  width: 300px;
  position: relative;
  z-index: 1;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 2px;
  padding: 0 12px;
  border: 1px solid #999;
  background-color: white;
}
