.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 600px;
  margin: 0 auto;
}

.pill {
  font-size: 12px;
  color: white;
  background-color: mediumturquoise;
  border: none;
  border-radius: 50px;
  padding: 8px;

  &:hover {
    background-color: darkturquoise;
    cursor: pointer;
  }

  span {
    margin-left: 8px;
    display: inline-block;
  }
}
